appnope==0.1.0
backcall==0.2.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
idna==2.10
jedi==0.17.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prettytable==1.0.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.2
pyOpenSSL==19.1.0
requests==2.25.0
six==1.15.0
traitlets==5.0.5
urllib3==1.26.1
wcwidth==0.2.5
